{% extends "base.html" %}

{% block page_title %}
    : Contact
{% endblock %}

{% block content_bigcol %}

    {% if message %}

    <div class="page">
    <div class="page_title">contact</div>
    <div class="page_content">
        <h2>Your message has been sent:</h2>
        {{ message|linebreaks }}
	<br /><br />
        <p><a style="font-weight: bold; text-decoration: none;" href="/">home &rsaquo</a></p>
    </div>

    {% else %}

    <fieldset>
	<legend>Contact</legend>
        <form action="" method="POST">
		<br />
        <div class="fieldwrapper">{{ form.topic.as_widget }}<br /><br /></div>
        <div class="fieldwrapper">{{ form.message.as_widget }}<br /><br /></div>
        <div class="left"><input type="submit" value="Send" /><br /></div>
        <div class="right">{{ form.message.errors }}<br /><br /></div>
        </form>
	</fieldset>

    {% endif %}

{% endblock %}
