{% extends "base.html" %}

{% block page_title %}Your Profile{% endblock %}

{% block content_bigcol %}

{% if error_message %}

    <div class="required">
        Error: {{ error_message }}
    </div>

{% else %}

    <p><b>Profile for: {{ profile.user.username }} (that's you!)</b><img src="/site_media/{{ avatar.image }}" height="50" width="50" align="right" hspace="100"></p>
    <p></p>
<fieldset>
<legend>Name</legend>
    <p><label>First Name:</label> {{ profile.first_name }}</p>
    <p><label>Last Name:</label> {{ profile.last_name }}</p>
</fieldset>
<fieldset>
<legend>Address</legend>
    <p><label>City:</label> {{ profile.city }}</p>
    <p><label>State:</label> {{ profile.state }}</p>
    <p><label>Zip Code:</label> {{ profile.zip_code }}</p>
</fieldset>
<fieldset>
<legend>Internet</legend>
    <p><label>Email Address:</label> {{ profile.user.email }}<br /></p>
    <p><label>Twitter ID:</label> {{ profile.twitter }}<br /></p>
    <p><label>LiveJournal ID:</label> {{ profile.livejournal }}<br /></p>
    <p><label>Your web site:</label> {{ profile.website }}<br /></p>
</fieldset>
<fieldset>
<legend>Bands</legend>
    <p><label>Favorite Bands</label>
	{% if bands %}
            <div style="position: relative; float: left; width: 400px;">
            {% for band in bands %}
                <a href="/profile/band/{{ band }}/">{{ band }}</a>
            {% endfor %}
            </div>
	    <div class="clear"></div>
	{% endif %}
    </p>
</fieldset>
<fieldset>
<legend>Privacy</legend>
    <p><label>Let other users see your profile?:</label> {{ profile.visible|yesno:"sure,nah,maybe" }}</p>
    <p><label>Receive email notifications?:</label> {{ profile.email_notify|yesno:"yeah,nope,maybe" }}</p>
</fieldset>

    <p style="margin-left: 25px; font-weight: bold;">
	<a href="/profile/edit/{{ user }}/">Edit Your Profile</a>  |  
	<a href="/password_reset/">Reset Your Password</a></p>

{% endif %}

{% endblock %}
