{% block page_title %}
    : Add A Song
{% endblock %}

{% block content_bigcol %}

	<form enctype="multipart/form-data" action="/playlist/song/add/" method="post">
	<fieldset>
	<legend>Add a song</legend>
        <p>{{ form.artist.label_tag }} {{ form.artist }}<br /></p>
        <p>{{ form.title.label_tag }} {{ form.title }}<br /></p>
        <p>{{ form.filepath.label_tag }} {{ form.filepath }}<br /></p>
        <p valign="bottom">
	    <input type="hidden" name="song_number" id="id_song_number" value="">
	    <input type="submit" value="Add song" /><br />
		</td>
    </form>

    <form name="user_playlist" action="." method="post">

    <p align="center"><input type="submit" value="Save Your Playlist" /><br /></p>
    </form>

{% endblock %}
